
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(images/head-foot/1.jpg);">
            <div class="container2 h-100">
                <div class="row2 h-100 align-items-center2">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Odbojkaški klub Opatija</h2><br/>
                            <div class="happyGuests">
                                <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <i class="fa fa-user"></i>
                                    <h3 class="timer">125</h3>
                                    <p>Sretnih igrača</p>
                                </div>
                                <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="500ms">
                                    <i class="fa fa-star"></i>
                                    <h3 class="timer">3</h3>
                                    <p>Licencirana trenera</p>
                                </div>
                                <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="700ms">
                                    <i class="fa fa-trophy"></i>
                                    <h3>5</h3>
                                    <p>godina u 2. ligi</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(images/head-foot/2.jpg);">
            <div class="container2 h-100">
                <div class="row2 h-100 align-items-center2">
                    <div class="col-12">
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="100ms">Odbojkaški klub Matulju</h2><br/>
                            <div class="happyGuests">
                                <div class="col-sm-4 col-xs-8 " data-wow-duration="1000ms" data-wow-delay="300ms">
                                    <i class="fa fa-user"></i>
                                    <h3 class="timer">125</h3>
                                    <p>Sretnih igrača</p>
                                </div>
                                <div class="col-sm-4 col-xs-8 " data-wow-duration="1000ms" data-wow-delay="500ms">
                                    <i class="fa fa-star"></i>
                                    <h3 class="timer">3</h3>
                                    <p>Licencirana trenera</p>
                                </div>
                                <div class="col-sm-4 col-xs-8 " data-wow-duration="1000ms" data-wow-delay="700ms">
                                    <i class="fa fa-trophy"></i>
                                    <h3>5</h3>
                                    <p>godina u 2. ligi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->

    </div>
</section>
<!-- ##### Hero Area End ##### -->