<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		
		 <section id="portfolio">
    <div class="container">
      <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
              <a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>

              <h2>DONACIJE</h2>
              <h3>neka slika</h3>
              <p>Par onih skeniraj-doniraj kodova na razlicite iznose i IBAN sa svim ostalim podacima racuna za donaciju</p>
          </div>
      </div> 
    </div>
    
  </section><!--/#portfolio-->
	</div>
</div>