<!DOCTYPE html>
<html lang="en">
<head>
  <title>OK Matulji</title>
<%- include ('partials/head.ejs') %>
</head>
<body>
<!--.preloader-->
<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->

<div id="home">
  <!-- ##### Header Area Start ##### -->
<%- include ('partials/header.ejs') %>
  <!-- ##### Hero Area Start ##### -->
  <%- include ('partials/hero-slider.ejs') %>
</div>
<!-- ##### home End ##### -->
<section id="services">
  <div class="container">
    <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-2">
          <h1>OK Matulji</h1>
          <h2>Ekipe</h2>
          <p>Neki bla bla tekst kraći</p>
        </div>
      </div>
    </div>
    <div class="text-center our-services">
      <div class="row">
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">

          <div class="service-img">
            <a class="folio-read-more" href="#" data-single_url="muskarciSeniori.ejs" ><img class="img-responsive" src="images/logo.webp" alt=""></a>
          </div>

          <div class="service-info">
            <a class="folio-read-more" href="#" data-single_url="muskarciSeniori.ejs" ><h3>Muškarci seniori</h3></a>
            <p>broj igrača
              <br />uspjesi
              <br />od kad postoje</p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
          <div class="service-img">
            <a class="folio-read-more" href="#" data-single_url="zeneSeniori.ejs" ><img class="img-responsive" src="images/logo.webp" alt=""></a>
          </div>
          <div class="service-info">
            <a class="folio-read-more" href="#" data-single_url="zeneSeniori.ejs" ><h3>Žene seniori</h3></a>
            <p>br igračica<br/>
              uspjesi<br/>
              od kad postoje<br/>
            </p>
          </div>
        </div>
        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
          <div class="service-img">
            <a class="folio-read-more" href="#" data-single_url="najmladje.ejs" ><img class="img-responsive" src="images/logo.webp" alt=""></a>
          </div>
          <div class="service-info">
            <a class="folio-read-more" href="#" data-single_url="najmladje.ejs" ><h3>Cure najmlađe</h3></a>
            <p>br igračica<br/>
              uspjesi<br/>
              od kad postoje<br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio-single-wrap">
    <div id="portfolio-single">
    </div>
  </div><!-- /#portfolio-single-wrap -->
</section><!--/#services-->

<section id="about-us" class="parallax">
  <div class="container">
    <div class="row">
      <div class="about-info col-sm-10 col-sm-offset-1 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>OK Matulji</h2>
        <p>O klubu ... </p>
        <p>O klubu ...</p>
      </div>
    </div>
  </div>
</section><!--/#about-us-->

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Galerija</h2>
        <p>Ovde dođe čuda slika raznih</p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-3">
        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
          <div class="folio-image">
            <img class="img-responsive" src="images/logo.webp" alt="">
          </div>
          <div class="overlay">
            <div class="overlay-content">
              <div class="overlay-text">
                <div class="folio-info">
                  <h3>Što je na slici</h3>
                  <p>OK Matulji</p>
                </div>
                <div class="folio-overview">

                  <span class="folio-expand"><a href="images/logo.webp" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!--/#portfolio-->

<section id="features" class="parallax">
  <div class="container">
    <div class="row count">
      <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="300ms">
        <i class="fa fa-user"></i>
        <h3 class="timer">125</h3>
        <p>Sretnih igrača</p>
      </div>
      <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="500ms">
        <i class="fa fa-star"></i>
        <h3 class="timer">3</h3>
        <p>Licencirana trenera</p>
      </div>
      <div class="col-sm-3 col-xs-6 " data-wow-duration="1000ms" data-wow-delay="700ms">
        <i class="fa fa-trophy"></i>
        <h3>5</h3>
        <p>godina u 2. ligi</p>
      </div>
    </div>
  </div>
</section><!--/#features-->

<section id="team">
  <div class="container">
    <div class="row">
      <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
        <h2>Naša uprava i treneri</h2>
        <p>Malo dobrih ljudi... koji ...</p>
      </div>
    </div>
    <div class="team-members">
      <div id="divKorisnici" class="row">
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="member-image">
              <img class="img-responsive" src="images/team/1.jpg" alt="Petar"/>
            </div>
            <div class="member-info">
              <h3>PREDSJEDNIK<br>Petar</h3>
              <h4>Vedri četrdesetogodi&scaron;njak</h4>
              <p>3 godine s nama. Motivator i blabla..
                <br />Ma Nema ga Država,... </p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="member-image">
              <img class="img-responsive" src="images/team/2.jpg" alt="Julija" />
            </div>
            <div class="member-info">
              <h3>TRENERICA</br>Julija</h3>
              <h4>Romeova tridesetpetogodi&scaron;njakinja</h4>
              <p>2 i pol godine s nama. Pričalica dobrog srca i blabla..
                <br />Zajebana... </p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="member-image">
              <img class="img-responsive" src="images/team/1.jpg" alt="Radovan"/>
            </div>
            <div class="member-info">
              <h3>TRENER</br>Radovan</h3>
              <h4>Kasper OK Matulja - Prdonja u 6om desetljeću</h4>
              <p>2 godine s nama. Radi&scaron;ni barba i blabla..
                <br />Alkoholičar ... </p>
            </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
            <div class="member-image">
              <img class="img-responsive" src="images/team/1.jpg" alt="Fredi"/>
            </div>
            <div class="member-info">
              <h3>TRENER</br>Fredi</h3>
              <h4>Tridesetogodi&scaron;nji čistunac</h4>
              <p>2 godine s nama. Pedantan i temeljit, i blabla..
                <br />Peder,... </p>              </div>
            <div class="social-icons">
              <ul>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div id="portfolio-single-wrap2">
      <div id="portfolio-single2">
      </div>
    </div><!-- /#portfolio-single-wrap2 -->
  </div>
</section>
<section id="location"><div class="row">
    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <h2>Croatia - Matulji 51211 - Put Puhari 1
        <br />ODBOJKAŠKI KLUB MATULJI 2004</h2>
    </div>
  </div>
  < src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2803.3703318449207!2d14.31724677495504!3d45.36152154028569!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4764a89f14c27997%3A0xc3602c341dfc5b57!2sODBOJKA%C5%A0KI%20KLUB%20MATULJI%202004!5e0!3m2!1shr!2shr!4v1699031248937!5m2!1shr!2shr" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section><!--/#location-->
<section id="contact">
  <form >
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Kontakt</h2>
            <p>Pitajte nas - upiši te se u školu odbojke </p>
          </div>
        </div>
        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form id="main-contact-form" name="contact-form" method="post" action="#">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input  id="txtIme" type="text" name="name" class="form-control" placeholder="Name" required="required" />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input  id="txtEmail" type="text" name="email" class="form-control" placeholder="Email Address" required="required" />
                    </div>
                  </div>
                </div>
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="form-group">
                  <textarea  name="message" id="message" class="form-control" rows="4" placeholder="Additional message" required></textarea>
                </div>
                </div>
                <div class="form-group">
                  <button  type="submit" class="btn-submit">Send Now</button>
                </div>
                <span  id="poruka"></span>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <p>Kontaktiraj te nas ...</p>
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Address:</span> Matulji 2a,
                    51400 Matulji, Croatia</li>
                  <li><i class="fa fa-phone"></i> <span> Phone:</span> +385 91 454 2198  </li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:okmatulje@gmail.com"> okmatulje@gmail.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.okmatulje.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section><!--/#contact-->

<%- include ('partials/footer.ejs') %>
</body>
</html>
