<div id="single-portfolio">
    <div id="portfolio-details" class="container">

        <section id="portfolio">
            <div class="container">
                <div class="row">
                    <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
                        <h2>Photos of Kitchen & Dining area</h2>

                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/03.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Accommodation Opatija</h3>
                                            <p>Croatia</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/03.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/04.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Luxuri villa</h3>
                                            <p>Accommodation Croatia</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/04.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/06.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/06.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/07.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/07.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/08.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/08.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/12.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/12.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="images/villa/indoor/400px/13.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="images/villa/indoor/13.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="folio-image">
                                <img class="img-responsive" src="Images/villa/outdoor/400px/15.jpg" alt="">
                            </div>
                            <div class="overlay">
                                <div class="overlay-content">
                                    <div class="overlay-text">
                                        <div class="folio-info">
                                            <h3>Villa The View</h3>
                                            <p>Opatija</p>
                                        </div>
                                        <div class="folio-overview">

                                            <span class="folio-expand"><a href="Images/villa/outdoor/15.jpg" data-lightbox="kitchen"><i class="fa fa-search-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section><!--/#portfolio-->
    </div>
</div>