<!DOCTYPE html>
<html lang="en">
<head>
    <title>OK Matulji</title>
    <%- include ('partials/head.ejs') %>
</head>
<body>
<div id="home">

</div>
<!-- ##### home End ##### -->
<section id="contact">
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Popunite obrazac za registraciju</h2>
                    <p>Za uređivanje korisničkih stranica potrebna je registracija</p>
                </div>
            </div>
            <form id="signup-form" name="signup-form" action="/signup" method="post">
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-8">
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" name="userName" id="userName" placeholder="User Name" class="form-control" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" placeholder="Password" class="form-control" required/>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <button  type="submit" id="submitDetails" name="submitDetails" class="btn-submit">Pošalji</button>
                            </div>
                            <span  id="poruka" ></span>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</section><!--/#contact-->

<%- include ('partials/footer.ejs') %>
</body>
</html>